{% macro input(name, value="", type="text") %}
	<div class="block pv2">
		<label class="block tracked upper mb2" for="{{ name }}">{{ name }}</label>
		<input class="input p2 w-100" name="{{ name }}" id="{{ name }}" type="{{ type }}" value="{{ value | e }}">
	</div>
{% endmacro %}

{% macro textarea(name, value="") %}
	<div class="block pv2">
		<label class="block tracked upper mb2" for="{{ name }}">Content</label>
		<textarea class="textarea p2 w-100" name="{{ name }}" id="{{ name }}" cols="30" rows="10">{{ value | e }}</textarea>
	</div>
{% endmacro %}