{% macro input(field) %}
	<div class="block pv2">
		{{ field.label(class_="block tracked upper mb2") }}
		{{ field(class_="input p2 w-100") }}
		{% if field.errors %}
			{% for error in field.errors %}
				<ul class="list-none pl0">
					<li class="red">{{ error }}</li>
				</ul>
			{% endfor %}
		{% endif %}
	</div>
{% endmacro %}

{% macro textarea(field) %}
<div class="block pv2">
	{{ field.label(class_="block tracked upper mb2") }}
	{{ field(class_="input p2 w-100", rows="10") }}
	{% if field.errors %}
		{% for error in field.errors %}
			<ul class="list-none pl0">
				<li class="red">{{ error }}</li>
			</ul>
		{% endfor %}
	{% endif %}
</div>
{% endmacro %}
