<form action="." method="POST">
	<div class="block pv2">
		<label class="block tracked upper mb2" for="title">Title</label>
		<input class="input p2 w-100" id="title" name="title" type="text">
	</div>
	<div class="block pv2">
		<label class="block tracked upper mb2" for="author">Author</label>
		<input class="input p2 w-100" id="author" name="author" type="text">
	</div>
	<div class="block pv2">
		<label class="block tracked upper mb2" for="content">Content</label>
		<textarea class="textarea p2 w-100" name="content" id="content" cols="30" rows="10"></textarea>
	</div>
	<div class="block">
		<input class="button bg-blue ph3 pv2 white" type="submit" value="Publish">
	</div>
</form>